*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
}
.on{
    display: flex;
    background-color: aliceblue;
    width: 800px;
    height: 100px;
    list-style: none;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;
}
.on,.in{
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    padding: 150PX;
}
.section{
    display: flex;
    justify-content: space-between;
}
.light{
    width: 300px;
    height: 250px;
    margin: 0px;
    background-color: rgb(248, 245, 245);
    text-align: center;
    margin: 0 auto;
}
.right{
    width: 300px;
    height: 250px;
    background-color: rgb(238, 234, 234);
    margin: 80px;
    margin: 0 auto;

}
.light,.sen{
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 35px;

}
body{
    background-color: rgba(0, 166, 255, 0.792);
}